.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ############ Posts######################## */
.center{
  margin: auto;
}
.upper-div{
  margin-left: 2%;
}
.removeOutline{
  outline: none;
}
::placeholder{
  font-weight: bold;
}
.upload-btn-wrapper{
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.float-left{
  float: left;
  margin-left: 5px;
}
.float-right{
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* #################### DivB############################ */
















